* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
            width: 80%;
            margin: 0 auto;
}

.highlight {
            background-color: yellow;
}

.header {
        background-color: rgb(67, 186, 255);
        padding-top: 25px;
        padding-bottom: 10px;
        padding-left: 10px;
        background-image: url(../img/pattern.png);
        background-size: 250px;
    }

#header-logo {
             width: 150px;
}

.title-container {
                margin-top: 1rem;
                margin-bottom: 1rem;
}

.main-title {
             
}

.author-info {
            color: grey;
            font-size: .9rem;  
}

.fake-link {
            color: rgb(39, 176, 255);
}

.date {
        color: rgb(168, 168, 168);
        font-size: .7rem;
}

.pic-container {
                height: 450px;
                margin-bottom: 10px;
}

.content {
        font-size: .8rem;
}

.content-list {
    margin: 1rem;
}

.content table {
    border-spacing: 0;
}

.content table thead {
                    background-color: rgb(59, 110, 252);
                    color: white;
}

.odd-table-row {
                background-color: rgb(29, 202, 255);
}

.footer-title {
                color: gray;
                font-size: .8rem;
                margin-bottom: 1rem;
}

.article-item {

}